/*Estilos Generales*/
*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: monospace, verdana, sans-serif;
	font-size: 14px;
}
/*Estilos Especificos*/
h1 {
	text-align: center;
}

nav {
    width: 960px;
    margin: auto;
}

.cmd_git{
	color: red;	
	width: 960px;
	margin: auto;
    clear:both;
    padding: 50px 0px 15px 100px;
}

.cmd_git article ul li dd{
	color:black;
}

