@import url(http://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0px;
}



body {
	font-family: Roboto;
}

h1 {
	text-align: center;
}

.cmd{
	font-size: 13px;
	color: red;	
	width: 960px;
	margin: auto;
    clear:both;
    padding: 50px 0px 15px 100px;
}

.cmd article ul li dd{
	color:black;
}

